<!DOCTYPE html>
<html ng-app="keeper">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Angular Experiment</title>
		<link rel="stylesheet" href="styles/css/main.css">
		<link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="page-content" ng-controller="ResourceController as keeper">
			<div class="wrapper">
				<div role="content" >
					<div >
						<form ng-submit="addCtrl.addResource(singleResource)" class="add-form" ng-controller="AddSourceController as addCtrl"><!--ng-show="showForm" -->
		                    <fieldset>
		                        <legend>Add A New Resource</legend>
		                        <label for="title" class="is-hidden">Resource title</label>
		                        <input ng-model="addCtrl.source.name" type="text" id="title" placeholder="Resource title">
		                        <label for="type" class="is-hidden">Resource type</label>
		                        <select ng-model="addCtrl.source.type" id="type" name="Resource Type">
		                        	<option value="Resource Type" disabled selected >Resource Type</option>
									<option value="book">Book</option>
									<option value="website">Website</option>
		                        	<option value="podcast">Podcast</option>
		                        </select>
		                        <label for="source" class="is-hidden">URL</label>
		                        <input ng-model="addCtrl.source.url" type="text" id="source" placeholder="URL">
		                        <div>
		                        	<button type="submit">Add</button><!--ng-click="add(); showForm=false"-->
		                    	</div>
		                    </fieldset>
						</form>

						<div class="resource-item-wrapper item-has-animation">
	                		<div class="re-category">
								<i class="icon-add"><svg xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"/></svg></i>
	                		</div>
	                		<div class="re-middle">
	                   			<div class="re-title is-ellipsis">
	                        		<span>{{addCtrl.source.name}}</span>
	                    		</div>
	                    		<div class="re-info"><span>A {{addCtrl.source.type}}</span></span>
	                    		</div>
	               		 	</div>
	                		<a href target="_blank" rel="external" class="re-link hidden-text">link
		                    	<svg xmlns="http://www.w3.org/2000/svg">
								    <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
								    <path d="M0-.25h24v24H0z" fill="none"/>
								</svg>
							</a>
	            		</div>
					</div>

					<section class="resources-list" >
						<h2>Your Resources</h2>
						<ul class="no-style-type">
							<li class="resource-item-wrapper item-has-animation" ng-repeat="singleResource in keeper.resources">
                        		<div class="re-category is-podcast">
									<i class="icon-add"><svg xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"/></svg></i>
                        		</div>
                        		<div class="re-middle">
                           			<div class="re-title is-ellipsis">
                                		<span>{{singleResource.name}}</span>
                            		</div>
                            		<div class="re-info"><span>A {{singleResource.type}}</span> <span>added {{singleResource.date | date:'shortDate'}}</span>
                            		</div>
                       		 	</div>
                        		<a ng-href="{{singleResource.url}}" target="_blank" rel="external" class="re-link hidden-text">link
			                    	<svg xmlns="http://www.w3.org/2000/svg">
									    <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
									    <path d="M0-.25h24v24H0z" fill="none"/>
									</svg>
        						</a>
                    		</li>
						</ul>
					</section>
				</div>
			</div>
			
			
			










		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script src="js/ui-bootstrap-tpls-1.3.2.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
