.add-form{
	overflow: hidden;
	margin: 0 auto 40px auto;
	padding: 9px;
	background: radial-gradient(lighten($cream, 5%), rgba(238, 231, 218, 0.1));
	// box-shadow: inset 0 0px 39px -17px darken($bailys, 20%);
	
	legend{
		font-size: 21px;
	}

	input[type="text"]::placeholder,
	input[type="text"]::-webkit-input-placeholder,
	input[type="text"]::-moz-placeholder,
	input[type="text"]:-ms-input-placeholder,
	input[type="text"]:-moz-placeholder{
		font-family: $base-font-family;
		font-size: 21px;
		color: red !important;
	}
	fieldset{
		border: none;
		padding: 0;
		margin: 0 0 21px 0;
		max-width: 480px;
		margin: 0 auto;
	}
	input[type="text"]{
		display: block;
		width: 100%;
		font-size: 21px;
		background: none;
		border: none;
		border-bottom: 1px solid $light-dirt;
		outline: none;
		margin-bottom: 32px; 
		&:first-of-type{
			margin-top: 39px;
		}
	}

	button{
		@include button($button-color: $yellow);
		float: right;
	}
	select{
		border: 1px solid $dirt;
		border-radius: 0;
		background: $cream;
	}
}


			
			
			
